<!-- Footer -->

<footer class="animated page-footer font-small bg-footer mt-5 fadeIn my-0">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://github.com/joelNguyenn1010/SDP-project"> Group 17</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <!-- JQuery -->
    <script type="text/javascript" src="/js/files/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="/js/files/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="/js/files/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="/js/files/mdb.min.js"></script>


</body>
</html>

