<% include ../partials/header %>


<!--Body-->

<div class="container m-custom">
<div class="animated fadeIn form-container m-auto">
<form class="form-group m-auto mw-100 w-login-custom" alt="Max-width 100%" action="/user/login" method="POST">
    <fieldset>
    <h1>Login</h1>
    <div class="md-form mt-4 mb-4">
    <input type="text" id="username" name="username" class="form-control">
    <label for="username" >Username</label>
    </div>


    <div class="md-form mb-4">
    <input type="password" id="password" name="password" class="form-control">
    <label for="password" >Password</label>
    </div>
      <button class="mb-4 btn btn-primary">Login</button>

      

      <p class="control-label"><a class="btn-link" href="/user/new">Register</a> or Forgot Password</p>
      
      <% if(error.length > 0 && error) { %>
        <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <p><%=error%></p>
        </div>
      <% } %>

    </fieldset>
</form>
</div>
</div>


<!--Body-->
<% include ../partials/footer.ejs %>
