<% include ../partials/header.ejs %>
<!--Body-->

<div class="container">
<div class="form-container">
<form class="form-group" action="/user/login" method="POST">
    <fieldset>
    <h1>Login</h1>
      <label class="control-label">Username:</label>
      <input type="text" class="form-control mb-4 input-control" name="username" placeholder="Username">
      <label class="control-label">Password:</label>
      <input type="password" class="form-control mb-4 input-control" name="password" placeholder="Password">
      <input type="submit" class="btn btn-primary btn-right" value="Login">

      <p class="control-label"><a class="btn-link" href="/user/new">Register</a> or Forgot Password</p>
      
      <% if(error.length > 0 && error) { %>
        <div class="alert alert-dismissible alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Oh snap!</strong> <p><%=error%></p>
        </div>
      <% } %>

    </fieldset>
</form>
<div>
</div>

<!--Body-->
<% include ../partials/footer.ejs %>
