<h1>Seminar Management</h1>
<h1>Menu</h1>
<h6>Select one of the following:</h6>
<a href="/seminar">Seminar Management</a>
<a href="/user">User Management</a>
<a href="/help">help</a>
<a href="/logout">Log out</a>
