

<% include ../partials/header.ejs %>
<% include ../partials/Shared/Navbar.ejs %>
<%= error %> 
<div class="animated fadeIn container mt-5">
    
<form action="/seminar" method="POST">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="abstract">abstract</label>
    <input type="text" name="abstract" id="abstract">
    <label for="date">date</label>
    <input type="date" name="date" id="date">
    <label for="speaker">speaker</label>
    <input type="text" name="speaker" id="speaker">
    <label for="time">time</label>
    <input type="time" name="time" id="time">
    <label for="duration">duration</label>
    <input type="number" name="duration" id="duration" placeholder="hour" max="24">
    <label for="venue">venue</label>
    <input type="text" name="venue" id="venue">
    <label for="capacity">Capacity</label>
    <input type="number" name="capacity" id="capacity">
    <input type="submit" value="Add">
</form>

</div>


<% include ../partials/footer.ejs %>